<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mouvy | {% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('style/style.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('img/mouv-icon.png') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Black+Han+Sans&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li>
                    <a href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('movies') }}">Films</a>
                </li>
                <li>
                    <a href="#">Séries</a>
                </li>
                <li>
                    <a href="{{ path('platforms') }}">Plateformes</a>
                </li>
            </ul>
            <div>
{#                <img src="{{ asset('img/mouvy-ban.png') }}" alt="mouvy-ban">#}
            </div>
            <div class="user">
                {% if app.user %}
{#                    <img id="user_photo" src="https://img.icons8.com/ios/452/user--v1.png" alt="">#}
                    <div class="name">
                        Hello <span id="username">{{ app.user.username }}</span> !
                    </div>
                    <ul>
                    {#                      <li><a href="{{ path('mon-compte') }}">Mon Compte</a></li>#}
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <div class="user-menu flex">
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    </div>
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/script.js') }}"></script>
    </body>
</html>
